In [1]:
pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\progut1\anaconda3\lib\site-packages (4.0.34)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pyodbc

In [2]:
conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\Users\21806538\Downloads\ConstructionSites2022.accdb;')
cursor = conn.cursor()
cursor.execute('select * from CITY')
   
for row in cursor.fetchall():
    print (row)

('09225', 'PAMIERS', '09', 'MIDI_PYRENEES')
('31157', 'CUGNAUX', '31', 'MIDI_PYRENEES')
('31385', 'MONTMAURIN', '31', 'MIDI_PYRENEES')
('31446', 'RAMONVILLE', '31', 'MIDI_PYRENEES')
('31454', 'RIEUMES', '31', 'MIDI_PYRENEES')
('31555', 'TOULOUSE', '31', 'MIDI_PYRENEES')
('31588', 'VILLEUNEUVE_TOLOSANE', '31', 'MIDI_PYRENEES')
('64102', 'BAYONNE', '64', 'AQUITAINE')
('65440', 'TARBES', '65', 'MIDI_PYRENEES')
('65451', 'TREBONS', '65', 'MIDI_PYRENEES')
('65460', 'VIC EN BIGORRE', '65', 'MIDI_PYRENEES')
('81065', 'CASTRES', '81', 'MIDI_PYRENEES')

In [3]:
import sqlite3

conn = sqlite3.connect('project.db')

c = conn.cursor()

In [4]:
sql = '''CREATE TABLE IF NOT EXISTS City (
            CodeCity TEXT(5),
            NameCity TEXT(40),
            DepartmentCity TEXT(3),
            RegionCity TEXT(40),
            
            PRIMARY KEY (CodeCity)
)'''
c.execute(sql)

In [5]:
sql = '''CREATE TABLE IF NOT EXISTS Company (
            VATNum TEXT(14),
            NameC TEXT(40),
            TypeC TEXT(5),
            GroupC INT(40),
            CodeCity TEXT(5),
            
            PRIMARY KEY (VATNum),
            FOREIGN KEY (CodeCity) REFERENCES City(CodeCity)
)'''
c.execute(sql)

In [6]:
sql = '''CREATE TABLE IF NOT EXISTS Site (
            CodeS INT,
            AddrRoadS TEXT(40),
            PostalCodeS TEXT(5),
            CategoryS TEXT(40),
            TypeS TEXT(40),
            CodeCity TEXT(5),
            
            PRIMARY KEY (CodeS),
            FOREIGN KEY (CodeCity) REFERENCES City(CodeCity)
)'''
c.execute(sql)

In [7]:
sql = '''CREATE TABLE IF NOT EXISTS Qualification (
            CodeQ INT,
            NameQ TEXT(40),
            LevelQ TEXT(9),
            
            PRIMARY KEY (CodeQ)
)'''
c.execute(sql)

In [8]:
sql = '''CREATE TABLE IF NOT EXISTS Employee (
            CodeEE INT,
            LastNameEE TEXT(40),
            FirstNameEE TEXT(40),
            CodeQ INT,
            VATNum TEXT(14),
            
            PRIMARY KEY (CodeEE),
            FOREIGN KEY (CodeQ) REFERENCES Qualification(CodeQ),
            FOREIGN KEY (VATNum) REFERENCES Company(VATNum)
)'''
c.execute(sql)

In [9]:
sql = '''CREATE TABLE IF NOT EXISTS RangeOfWorks (
            CodeRW INT,
            NameW TEXT(40),
            
            PRIMARY KEY (CodeRW)
)'''
c.execute(sql)

In [13]:
sql = '''CREATE TABLE IF NOT EXISTS Authorize (
            CodeQ INT,
            CodeRW INT,
            
            PRIMARY KEY (CodeQ, CodeRW),
            FOREIGN KEY (CodeQ) REFERENCES Qualification(CodeQ),
            FOREIGN KEY (CodeRW) REFERENCES RangeOfWorks(CodeRW)
)'''
c.execute(sql)

In [14]:
sql = '''CREATE TABLE IF NOT EXISTS TypeOfWorks  (
            CodeTW INT,
            NameTW TEXT(40),
            HourlyRateCust NUMERIC,
            HourlyRateEmp NUMERIC,
            CodeRW INT,
            
            PRIMARY KEY (CodeTW),
            FOREIGN KEY (CodeRW) REFERENCES RangeOfWorks(CodeRW)
)'''
c.execute(sql)

In [15]:
sql = '''CREATE TABLE IF NOT EXISTS Quotation (
            CodeQ INT,
            DateQ DATE,
            DateEndQ DATE,
            VATNum TEXT(14),
            CodeS INT,
            
            PRIMARY KEY (CodeQ),
            FOREIGN KEY (VATNum) REFERENCES Company(VATNum),
            FOREIGN KEY (CodeS) REFERENCES Site(CodeS)
)'''
c.execute(sql)

In [17]:
sql = '''CREATE TABLE IF NOT EXISTS Include (
            CodeQ INT,
            CodeTW INT,
            NbHoursPlanned NUMERIC,
            
            PRIMARY KEY (CodeQ, CodeTW),
            FOREIGN KEY (CodeQ) REFERENCES Quotation(CodeQ),
            FOREIGN KEY (CodeTW) REFERENCES TypeOfWorks(CodeTW)
)'''
c.execute(sql)

In [18]:
sql = '''CREATE TABLE IF NOT EXISTS Work (
            CodeS INT,
            CodeEE INT,
            DateW DATE,
            CodeTW INT,
            NBHourW NUMERIC,
            
            PRIMARY KEY (CodeS, CodeEE, DateW, CodeTW),
            FOREIGN KEY (CodeS) REFERENCES Site(CodeS),
            FOREIGN KEY (CodeEE) REFERENCES Employee(CodeEE),
            FOREIGN KEY (CodeTW) REFERENCES TypeOfWorks(CodeTW)
)'''
c.execute(sql)